/**********************************
GENERAL
***********************************/
@font-face {
  font-family: 'NeutraText';
  src: url("/shared/NeutraText-DemiItalic.woff") format("woff2"), url("/shared/NeutraText-DemiItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'NeutraText';
  src: url("/shared/NeutraText-Book.woff") format("woff2"), url("/shared/NeutraText-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NeutraText';
  src: url("/shared/NeutraText-Demi.woff") format("woff2"), url("/shared/NeutraText-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

body {
  font-family: NeutraText;
  font-style: normal;
  font-size: 1em;
  line-height: 1em;
  background-color: #fff;
  color: #000; }

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: #000; }
  a:link, a:visited {
    color: #000; }
  a:hover {
    color: #000; }
  a:active {
    color: #000; }

.back-button {
  text-align: left;
  font-size: 12px;
  padding: 0px 0px 0px 0px; }

/**********************************
MIX-INs
***********************************/
/**********************************
ANIMATIONS
***********************************/

@keyframes play-fw {
  from {
    background-position: 0; }
  to {
    background-position: 100%; } }

@keyframes play-bw {
  from {
    background-position: 100%; }
  to {
    background-position: 0; } }

/**********************************
HEADER
***********************************/
#siteheader {
  width: 100%;
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: 14vw; }

/*
header #sitehead:after {
  clear:both;
  content:" ";
  display:table;
}

header #sitehead:before {
  content:" ";
  display:table;
}
*/
/**********************************
NAVIGATION
***********************************/
#topnav {
  display: block; }
  #topnav h2 {
    color: #000;
    font-size: 8vw;
    line-height: 1em;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    padding: 0; }
  #topnav .dropnav {
    position: relative;
    width: 14.3vw;
    height: 13vw;
    display: block;
    float: left;
    cursor: pointer; }
    #topnav .dropnav .dropnavIcon {
      display: inline;
      width: 5.5vw;
      height: 5.5vw;
      position: absolute;
      text-align: center;
      background-size: auto 100%;
      background-image: url(/images/burger_blk.png);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
  #topnav .dropnavOpen {
    position: relative;
    width: 14.3vw;
    height: 13vw;
    display: block;
    float: left;
    cursor: pointer; }
    #topnav .dropnavOpen .dropnavIcon {
      display: inline;
      width: 5.5vw;
      height: 5.5vw;
      position: absolute;
      text-align: center;
      background-size: auto 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      animation: play-fw 0.25s steps(7) forwards;
      background-image: url(/images/burger_blk.png); }
  #topnav .dropnavClosed {
    position: relative;
    width: 14.3vw;
    height: 13vw;
    display: block;
    float: left;
    cursor: pointer; }
    #topnav .dropnavClosed .dropnavIcon {
      display: inline;
      width: 5.5vw;
      height: 5.5vw;
      position: absolute;
      text-align: center;
      background-size: auto 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      animation: play-bw 0.25s steps(7) forwards;
      background-image: url(/images/burger_blk.png); }
  #topnav .dropnavMenu {
    display: none;
    position: fixed;
    width: 100%;
    top: 14vw;
    height: 100%;
    background: #000;
    font-size: 8vw;
    z-index: 100; }
    #topnav .dropnavMenu ul {
      margin: 0;
      padding: 3vw 5.2vw 0 5.2vw;
      list-style-type: none;
      list-style-image: none;
      color: #fff; }
    #topnav .dropnavMenu li {
      font-size: 6vw;
      display: block;
      padding: 5vw 0;
      border-bottom: #fff 2px solid; }
    #topnav .dropnavMenu ul li a {
      text-decoration: none;
      margin: 0px;
      color: #fff; }
      #topnav .dropnavMenu ul li a:hover {
        color: #fff;
        text-decoration: none; }
    #topnav .dropnavMenu a {
      text-decoration: none;
      color: white; }
      #topnav .dropnavMenu a:hover {
        text-decoration: none;
        color: white; }
  #topnav .headerLogo {
    display: none; }
  #topnav .menu1-1 {
    padding: 2.7vw 0 0 4vw;
    float: left;
    display: block; }
  #topnav .menu1-2 {
    display: none; }
  #topnav .menu1-3 {
    display: none; }

/******************
MAIN CONTENT
******************/
#mainColumn {
  margin: 0 auto;
  padding: 0 2.5%;
  width: auto; }
  #mainColumn .previewItem {
    width: 100%;
    display: block;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    border: 40px solid;
    border-color: transparent;
    vertical-align: baseline; }
  #mainColumn .previewItem span {
    vertical-align: baseline;
    float: left;
    bottom: 0px;
    font-size: 1em; }

.smallBorder {
  border-color: #8d8d8d;
  border-style: solid;
  border-width: 1px; }

/******************
ABOUT
******************/
#contactColumn {
  margin: 40px auto 0 auto;
  padding: 0 2.5%;
  width: auto; }
  #contactColumn .contactItem {
    width: 95%;
    display: block;
    float: left;
    position: relative;
    margin: 0;
    padding: 0 2.5%;
    clear: left; }
    #contactColumn .contactItem p {
      margin: 0;
      padding: 0;
      line-height: 1.4em; }
    #contactColumn .contactItem span.blocky {
      display: block;
      margin: 15px 0 0 0; }
    #contactColumn .contactItem span.bold {
      font-weight: bold; }
  #contactColumn a {
    text-decoration: none;
    border-bottom: 1px dotted; }
  #contactColumn .primary {
    display: block;
    float: left; }
  #contactColumn .secondary {
    clear: left;
    width: 100%;
    float: left;
    margin: 15px 0 0 0;
    clear: left; }

/******************
FOOTER
******************/
footer {
  font-size: 1em;
  text-align: center;
  clear: both;
  padding: 30px 0 30px 0;
  color: #000; }
  footer a {
    font-weight: bold;
    text-decoration: none;
    padding: 15px 10px; }

/******************
******************

RESPONSIVE

******************
******************/
/******************
min-width 640px
******************/
@media screen and (min-width: 640px) {
  /**********************************
GENERAL
***********************************/
  /**********************************
HEADER
***********************************/
  #siteheader {
    margin: 0;
    padding: 0;
    height: 60px;
    background-color: transparent; }
  /**********************************
NAVIGATION
***********************************/
  #topnav {
    positive: relative;
    display: block; }
    #topnav .dropnav {
      display: none;
      position: relative;
      width: 14.3vw;
      height: 13vw;
      float: left; }
    #topnav .dropnavOpen {
      display: none; }
    #topnav .dropnavClosed {
      display: none; }
    #topnav .headerLogo {
      display: inline;
      position: relative;
      width: 80px;
      height: 60px;
      margin: 20px 0 0 25px;
      float: left;
      text-align: center;
      background-size: auto 100%;
      background-image: url(/images/app-logo.svg); }
    #topnav h2 {
      font-size: 2em;
      color: #000; }
    #topnav .menu1-1 {
      display: none; }
    #topnav .menu1-2 {
      display: block;
      padding: 30px 0 0 30px;
      float: left;
      display: block; }
    #topnav .menu1-3 {
      display: none;
      padding: 2.7vw 0 0 8vw;
      float: left; }
  /******************
MAIN CONTENT
******************/
  #mainColumn {
    float: left;
    width: 96%;
    margin-left: 2%;
    padding: 0;
    /*
    :nth-child(4n) {
      clear: left;
    }
    */ }
    #mainColumn .previewItem {
      width: 33.333%;
      display: block;
      float: left;
      position: relative;
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
      border: 40px solid;
      border-color: transparent;
      vertical-align: baseline;
      text-align: center; }
    #mainColumn .previewItem span {
      font-size: .9em;
      float: left;
      bottom: 0px;
      width: 100%; }
  /******************
ABOUT
******************/
  #contactColumn {
    width: 96%;
    margin-left: 2%;
    padding: 0; }
    #contactColumn .contactItem {
      display: block;
      float: left;
      position: relative;
      margin: 0;
      padding: 0 2.5%;
      width: 45%;
      clear: none; }
    #contactColumn p {
      margin: 0;
      padding: 0;
      line-height: 1.4em; }
    #contactColumn span.blocky {
      display: block;
      margin: 15px 0 0 0; }
    #contactColumn span.noTop {
      display: block;
      margin-top: 0; }
    #contactColumn span.bold {
      font-weight: bold; }
    #contactColumn a {
      text-decoration: none;
      border-bottom: 1px dotted; } }

/******************
FOOTER
******************/
/******************
min-width 920px
******************/
@media screen and (min-width: 920px) {
  /**********************************
GENERAL
***********************************/
  /**********************************
HEADER
***********************************/
  /**********************************
NAVIGATION
***********************************/
  /******************
MAIN CONTENT
******************/
  #mainColumn {
    /*
    :nth-child(4n) {
      clear: left;
    }
*/ }
    #mainColumn .previewItem {
      width: 25%;
      display: block; }
    #mainColumn .previewItem span {
      font-size: .9em;
      float: left;
      bottom: 0px;
      width: 100%; }
  /******************
CONTACT
******************/
  /******************
FOOTER
******************/ }

/* sourceMappingURL=app.css.map */

/*# sourceMappingURL=app.css.map */
