/**********************************
GENERAL
***********************************/
@font-face {
  font-family: 'NeutraText';
  src: url("/shared/NeutraText-DemiItalic.woff") format("woff2"), url("/shared/NeutraText-DemiItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'NeutraText';
  src: url("/shared/NeutraText-Book.woff") format("woff2"), url("/shared/NeutraText-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NeutraText';
  src: url("/shared/NeutraText-Demi.woff") format("woff2"), url("/shared/NeutraText-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "museo-sans";
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "museo-sans";
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: "museo-sans";
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "museo-sans";
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "museo-sans";
  font-weight: 500;
  font-style: normal; }

body {
  font-family: museo-sans;
  font-style: normal;
  font-weight: 100;
  font-size: 1em;
  line-height: 1em;
  background-color: #fff;
  color: #000; }

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: #000;
  cursor: pointer; }
  a:link, a:visited {
    color: #000; }
  a:hover {
    color: #000; }
  a:active {
    color: #000; }

.back-button {
  text-align: left;
  font-size: 12px;
  padding: 0px 0px 0px 0px; }

/**********************************
MIX-INs
***********************************/
/**********************************
ANIMATIONS
***********************************/

@keyframes play-fw {
  from {
    background-position: 0; }
  to {
    background-position: 100%; } }

@keyframes play-bw {
  from {
    background-position: 100%; }
  to {
    background-position: 0; } }

/**********************************
HEADER
***********************************/
#siteheader {
  width: 100%;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto; }

#top-bar {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  top: 0px; }
  #top-bar .container {
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box; }
    #top-bar .container .row {
      box-sizing: border-box;
      margin-right: 0;
      margin-left: 0; }
      #top-bar .container .row .topRow-4 {
        position: relative;
        min-height: 1px;
        padding: 5px 15px 0 15px; }
        #top-bar .container .row .topRow-4 .dropnav, #top-bar .container .row .topRow-4 .dropnavOpen, #top-bar .container .row .topRow-4 .dropnavClosed {
          position: absolute;
          top: 10px;
          left: 15px;
          float: left;
          width: 24px;
          height: 24px;
          padding: 10px;
          cursor: pointer; }
          #top-bar .container .row .topRow-4 .dropnav .dropnavIcon, #top-bar .container .row .topRow-4 .dropnavOpen .dropnavIcon, #top-bar .container .row .topRow-4 .dropnavClosed .dropnavIcon {
            display: inline;
            width: 24px;
            height: 24px;
            position: absolute;
            text-align: center;
            background-size: auto 100%;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-image: url(/images/burger_blk.png); }
        #top-bar .container .row .topRow-4 .dropnavOpen .dropnavIcon {
          animation: play-fw 0.25s steps(7) forwards; }
        #top-bar .container .row .topRow-4 .dropnavClosed .dropnavIcon {
          animation: play-bw 0.25s steps(7) forwards; }
        #top-bar .container .row .topRow-4 .headerLogo {
          display: block;
          margin: 0 auto;
          display: table; }
          #top-bar .container .row .topRow-4 .headerLogo #logo {
            box-sizing: border-box;
            margin: 0 auto;
            width: 130px;
            height: 32px; }
            #top-bar .container .row .topRow-4 .headerLogo #logo a {
              margin: 0 auto;
              display: block; }
            #top-bar .container .row .topRow-4 .headerLogo #logo .h2Logo {
              padding: 15px 0 10px 0; }
            #top-bar .container .row .topRow-4 .headerLogo #logo h2 {
              font-size: 1.8em;
              line-height: .6em;
              padding: 19px 0 0 0;
              -webkit-margin-before: 0em;
              -webkit-margin-after: 0em;
              -webkit-margin-start: 0;
              -webkit-margin-end: 0;
              font-weight: 500; }
        #top-bar .container .row .topRow-4 .menu1-1 {
          display: none;
          padding: 30px 0 0 30px;
          float: left; }
        #top-bar .container .row .topRow-4 .menu1-2 {
          display: none;
          padding: 30px 0 0 60px;
          float: left; }
      #top-bar .container .row .topRow-8 {
        position: relative;
        min-height: 1px;
        padding: 0 15px; }
        #top-bar .container .row .topRow-8 #dropnavMenu {
          display: none;
          box-sizing: border-box;
          margin: 10px auto 0 auto; }
          #top-bar .container .row .topRow-8 #dropnavMenu ul {
            display: block;
            width: 100%;
            padding: .25em 0 1em 0;
            text-align: center;
            position: relative;
            list-style-type: none;
            color: #fff;
            -webkit-margin-before: 0;
            -webkit-padding-start: 0;
            -webkit-margin-after: 0; }
            #top-bar .container .row .topRow-8 #dropnavMenu ul li.mobile {
              padding: 0;
              width: 100%;
              display: block;
              font-size: 1.3em;
              font-weight: 300;
              margin: .7em auto 0 auto;
              color: #000;
              text-align: center;
              border: 0; }
            #top-bar .container .row .topRow-8 #dropnavMenu ul li::after {
              content: "";
              display: block;
              width: 100px;
              margin: .5em auto 0 auto;
              text-align: center;
              height: 1px;
              background: #fff;
              border-bottom: 1px solid #676767; }
            #top-bar .container .row .topRow-8 #dropnavMenu ul a {
              text-decoration: none;
              color: #000; }
              #top-bar .container .row .topRow-8 #dropnavMenu ul a:hover {
                color: #767676;
                text-decoration: none; }

/******************
HOMEPAGE PREVIEW CONTENT
******************/
#mainColumn {
  margin: 0 auto;
  padding: 5em 2.5% 0 2.5%;
  width: auto; }
  #mainColumn .container {
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box; }
    #mainColumn .container .previewItem {
      width: 100%;
      display: block;
      float: left;
      position: relative;
      margin: 0;
      padding: 3em;
      -webkit-box-sizing: border-box;
      vertical-align: baseline; }
      #mainColumn .container .previewItem span {
        vertical-align: baseline;
        float: left;
        bottom: 0px;
        font-size: 1em; }
    #mainColumn .container #pre_sml {
      padding: 3em .5em 3em .5em; }
    #mainColumn .container .first {
      padding-top: 4em; }
    #mainColumn .container .smallBorder {
      border-color: #8d8d8d;
      border-style: solid;
      border-width: 1px; }

/******************
WORK PAGES
******************/
#workPages {
  margin: 0 auto;
  padding: 5em 2.5% 0 2.5%;
  width: auto; }
  #workPages .container {
    margin: 0 auto;
    box-sizing: border-box; }
    #workPages .container .workItems {
      margin: 0 auto;
      width: 100%;
      box-sizing: border-box;
      padding: 0 5%; }
      #workPages .container .workItems span {
        font-size: 1.1em;
        line-height: 1.25em;
        text-align: center;
        margin: 0 auto;
        padding: 1.5em 2.5% 0 2.5%;
        display: table;
        box-sizing: border-box; }
      #workPages .container .workItems .workImage {
        margin: 0 auto;
        padding: 2em; }
        #workPages .container .workItems .workImage img {
          width: 100%; }
      #workPages .container .workItems .inter {
        padding: 2em 0 2em 0; }
      #workPages .container .workItems #horiz {
        padding: 2em 2em 2em 2em; }
      #workPages .container .workItems .bannerAds {
        padding: 2em 0; }
      #workPages .container .workItems .posters {
        padding: 2em 0; }
      #workPages .container .workItems .marks {
        padding: 2em 1em; }
      #workPages .container .workItems .markstwo {
        padding: 2em 2em; }

/******************
ABOUT
******************/
#contactColumn {
  margin: 30px auto 0 auto;
  padding: 6em 2.5% 0 2.5%;
  width: auto; }
  #contactColumn .contactItem {
    width: 95%;
    display: block;
    float: left;
    position: relative;
    margin: 0;
    padding: 0 2.5%;
    clear: left;
    font-size: 1.1em; }
    #contactColumn .contactItem p {
      margin: 0;
      padding: 0;
      line-height: 1.4em; }
    #contactColumn .contactItem span.blocky {
      display: block;
      margin: 15px 0 0 0; }
    #contactColumn .contactItem span.bold {
      font-weight: 500; }
  #contactColumn a {
    text-decoration: none;
    border-bottom: 1px dotted; }
  #contactColumn .primary {
    display: block;
    float: left; }
  #contactColumn .secondary {
    clear: left;
    width: 100%;
    float: left;
    margin: 15px 0 0 0;
    clear: left; }

/******************
FOOTER
******************/
footer {
  font-size: 1em;
  text-align: center;
  clear: both;
  padding: 30px 0 30px 0;
  color: #000; }
  footer a {
    font-weight: 500;
    text-decoration: none;
    padding: 15px 10px; }
  footer .footerContainer {
    padding: 0 0 2.5em 0; }
    footer .footerContainer .footerBtn a {
      cursor: pointer;
      padding: 0 .5em 0 .5em; }
    footer .footerContainer .footerBtn img {
      display: inline; }

/******************
******************

RESPONSIVE

******************
******************/
/******************
min-width 840px
******************/
@media screen and (min-width: 840px) {
  /**********************************
HEADER
***********************************/
  #siteheader {
    width: 100%;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto; }
  #top-bar {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    top: 0px;
    height: 65px !important; }
    #top-bar .container {
      margin: 0 auto;
      box-sizing: border-box;
      max-width: 940px; }
      #top-bar .container .row {
        box-sizing: border-box;
        margin-right: 0;
        margin-left: 0;
        padding-top: 6px !important; }
        #top-bar .container .row .topRow-4 {
          position: relative;
          height: 80px;
          float: left;
          padding: 0 15px;
          width: 33.33333333333333%;
          display: block;
          box-sizing: border-box; }
          #top-bar .container .row .topRow-4 .dropnav, #top-bar .container .row .topRow-4 .dropnavOpen, #top-bar .container .row .topRow-4 .dropnavClosed {
            display: none; }
          #top-bar .container .row .topRow-4 .dropnavOpen {
            display: none; }
          #top-bar .container .row .topRow-4 .dropnavClosed {
            display: none; }
          #top-bar .container .row .topRow-4 .headerLogo {
            display: block;
            float: left;
            margin: 0 auto;
            position: absolute;
            top: 14px;
            left: 23px; }
            #top-bar .container .row .topRow-4 .headerLogo #logo {
              box-sizing: border-box;
              margin: 0 auto; }
              #top-bar .container .row .topRow-4 .headerLogo #logo a {
                margin: 0 auto;
                display: block; }
              #top-bar .container .row .topRow-4 .headerLogo #logo .h2Logo {
                padding: 8px 0 0 0; }
              #top-bar .container .row .topRow-4 .headerLogo #logo h2 {
                font-size: 1.8em;
                line-height: .6em;
                padding: 19px 0 0 0;
                -webkit-margin-before: 0em;
                -webkit-margin-after: 0em;
                -webkit-margin-start: 0;
                -webkit-margin-end: 0;
                font-weight: 500; }
        #top-bar .container .row .topRow-8 {
          position: relative;
          height: 80px;
          float: left;
          padding: 0 15px;
          width: 66.66666666666666%;
          box-sizing: border-box; }
          #top-bar .container .row .topRow-8 #dropnavMenu {
            display: block !important;
            box-sizing: border-box;
            margin: .9em 0 0 0;
            float: right; }
            #top-bar .container .row .topRow-8 #dropnavMenu ul {
              display: block;
              margin: 0;
              padding: 1em 0 0 0;
              text-align: center;
              list-style-type: none;
              color: #fff;
              -webkit-margin-before: 0;
              -webkit-padding-start: 0;
              -webkit-margin-after: 0;
              float: right; }
              #top-bar .container .row .topRow-8 #dropnavMenu ul li.mobile {
                display: inline;
                font-size: 1.5em;
                font-weight: 500;
                padding: 0 1.5em 0 0;
                color: #000;
                border: 0; }
              #top-bar .container .row .topRow-8 #dropnavMenu ul li::after {
                display: none; }
            #top-bar .container .row .topRow-8 #dropnavMenu a {
              display: inline;
              text-decoration: none;
              color: #000; }
              #top-bar .container .row .topRow-8 #dropnavMenu a:hover {
                color: #767676;
                text-decoration: none; }
    #top-bar .container::before {
      display: table;
      content: " "; }
    #top-bar .container::after {
      clear: both; }
  /******************
HOMEPAGE PREVIEW CONTENT
******************/
  #mainColumn {
    float: left;
    width: 96%;
    margin-left: 2%;
    padding: 6em 0 0 0; }
    #mainColumn .container {
      box-sizing: border-box;
      max-width: 940px; }
      #mainColumn .container .previewItem {
        width: 33.333333%;
        display: block;
        float: left;
        position: relative;
        margin: 0;
        padding: 2em;
        box-sizing: border-box;
        vertical-align: baseline;
        text-align: center; }
        #mainColumn .container .previewItem span {
          font-size: .9em;
          float: left;
          bottom: 0px;
          width: 100%; }
      #mainColumn .container #pre_sml {
        padding: 2em; }
  /******************
WORK PAGES
******************/
  #workPages {
    margin: 0 auto;
    padding: 5em 2.5% 0 2.5%;
    width: auto; }
    #workPages .container {
      margin: 0 auto;
      box-sizing: border-box;
      max-width: 940px;
      width: 100%; }
      #workPages .container .workItems {
        margin: 0 auto;
        display: block;
        box-sizing: border-box;
        padding: 0; }
        #workPages .container .workItems span {
          font-size: 1.1em;
          margin: 0 auto;
          padding: 1.5em 2.5% 0 2.5%;
          display: table;
          box-sizing: border-box; }
        #workPages .container .workItems .workImage {
          width: 100%;
          float: left;
          margin: 0 auto;
          box-sizing: border-box; }
          #workPages .container .workItems .workImage img {
            width: 100%; }
        #workPages .container .workItems .inter {
          padding: 2em 6em 2em 6em; }
        #workPages .container .workItems #horiz {
          padding: 2em 10em 2em 10em; }
        #workPages .container .workItems .touchscreen {
          width: 50% !important;
          padding: 2em; }
        #workPages .container .workItems .search {
          padding: 2em 10em 2em 10em; }
        #workPages .container .workItems .bannerAds {
          padding: 2em 6em 2em 6em; }
        #workPages .container .workItems .posters {
          padding: 2em 4em; }
        #workPages .container .workItems .marks {
          padding: 2em 8em;
          margin: 0 auto; }
        #workPages .container .workItems .markstwo {
          padding: 2em 9em 2em 9em;
          margin: 0 auto; }
  /******************
ABOUT
******************/
  #contactColumn {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 940px;
    padding: 6em 0 0 0; }
    #contactColumn .contactItem {
      display: block;
      float: left;
      position: relative;
      margin: 0;
      padding: 0 2.5%;
      width: 44%;
      clear: none; }
    #contactColumn p {
      margin: 0;
      padding: 0;
      line-height: 1.4em; }
    #contactColumn span.blocky {
      display: block;
      margin: 15px 0 0 0; }
    #contactColumn span.noTop {
      display: block;
      margin-top: 0; }
    #contactColumn span.bold {
      font-weight: 500; }
    #contactColumn a {
      text-decoration: none;
      border-bottom: 1px dotted; }
    #contactColumn .primary {
      padding: 0 3%; } }

/******************
FOOTER
******************/
/******************
min-width 920px
******************/
/*
@media screen and (min-width: 920px) 
{ }
  
/**********************************
GENERAL
***********************************/
/**********************************
HEADER
***********************************/
/**********************************
NAVIGATION
***********************************/
/******************
MAIN CONTENT
******************/
/******************
CONTACT
******************/
/******************
FOOTER
******************/

/*# sourceMappingURL=app.css.map */
