/**********************************
GENERAL
***********************************/
@font-face {
  font-family: 'NeutraText';
  src: url("/shared/NeutraText-DemiItalic.woff") format("woff2"), url("/shared/NeutraText-DemiItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'NeutraText';
  src: url("/shared/NeutraText-Book.woff") format("woff2"), url("/shared/NeutraText-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NeutraText';
  src: url("/shared/NeutraText-Demi.woff") format("woff2"), url("/shared/NeutraText-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

body {
  font-family: NeutraText;
  font-style: normal;
  font-size: 1em;
  line-height: 1em;
  background-color: #fff;
  color: #000; }

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: #000; }
  a:link, a:visited {
    color: #000; }
  a:hover {
    color: #000; }
  a:active {
    color: #000; }

.back-button {
  text-align: left;
  font-size: 12px;
  padding: 0px 0px 0px 0px; }

/**********************************
MIX-INs
***********************************/
/**********************************
ANIMATIONS
***********************************/

@keyframes play-fw {
  from {
    background-position: 0; }
  to {
    background-position: 100%; } }

@keyframes play-bw {
  from {
    background-position: 100%; }
  to {
    background-position: 0; } }

/**********************************
HEADER
***********************************/
#siteheader {
  width: 100%;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto; }
  #siteheader .topRow-4 {
    position: relative;
    min-height: 1px;
    padding: 5px 15px 0 15px; }
  #siteheader .dropnav {
    position: absolute;
    top: 10px;
    left: 15px;
    float: left;
    width: 28px;
    height: 28px;
    padding: 10px;
    cursor: pointer; }
    #siteheader .dropnav .dropnavIcon {
      display: inline;
      width: 28px;
      height: 28px;
      position: absolute;
      text-align: center;
      background-size: auto 100%;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-image: url(/images/burger_blk.png); }
  #siteheader .dropnavOpen {
    position: absolute;
    top: 10px;
    left: 15px;
    float: left;
    width: 28px;
    height: 28px;
    padding: 10px;
    cursor: pointer; }
    #siteheader .dropnavOpen .dropnavIcon {
      display: inline;
      width: 28px;
      height: 28px;
      position: absolute;
      text-align: center;
      background-size: auto 100%;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-image: url(/images/burger_blk.png);
      animation: play-fw 0.25s steps(7) forwards; }
  #siteheader .dropnavClosed {
    position: absolute;
    top: 10px;
    left: 15px;
    float: left;
    width: 28px;
    height: 28px;
    padding: 10px;
    cursor: pointer; }
    #siteheader .dropnavClosed .dropnavIcon {
      display: inline;
      width: 28px;
      height: 28px;
      position: absolute;
      text-align: center;
      background-size: auto 100%;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-image: url(/images/burger_blk.png);
      animation: play-bw 0.25s steps(7) forwards; }
  #siteheader .headerLogo {
    display: block;
    margin: 0 auto;
    display: table; }
    #siteheader .headerLogo #logo {
      box-sizing: border-box;
      margin: 0 auto; }
      #siteheader .headerLogo #logo a {
        margin: 0 auto;
        display: block; }
      #siteheader .headerLogo #logo h2 {
        font-size: 1.8em;
        line-height: .6em;
        padding: 19px 0 0 0;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        font-weight: bold; }
  #siteheader .menu1-1 {
    display: none;
    padding: 30px 0 0 30px;
    float: left; }
  #siteheader .menu1-2 {
    display: none;
    padding: 30px 0 0 60px;
    float: left; }
  #siteheader .topRow-8 {
    position: relative;
    min-height: 1px;
    padding: 0 15px; }
    #siteheader .topRow-8 #dropnavMenu {
      display: none;
      box-sizing: border-box;
      margin: 10px auto 0 auto; }
      #siteheader .topRow-8 #dropnavMenu ul {
        display: block;
        width: 100%;
        padding: 1em 0 0 0;
        text-align: center;
        position: relative;
        list-style-type: none;
        color: #fff;
        -webkit-margin-before: 0;
        -webkit-padding-start: 0;
        -webkit-margin-after: 0; }
        #siteheader .topRow-8 #dropnavMenu ul li.mobile {
          padding: 0;
          width: 100%;
          display: block;
          font-size: 1.3em;
          font-weight: bold;
          margin: .5em auto 0 auto;
          color: #000;
          text-align: center;
          border: 0; }
        #siteheader .topRow-8 #dropnavMenu ul li::after {
          content: "";
          display: block;
          width: 100px;
          margin: .3em auto 0 auto;
          text-align: center;
          height: 1px;
          background: #fff;
          border-bottom: 2px solid #000; }
        #siteheader .topRow-8 #dropnavMenu ul a {
          text-decoration: none;
          color: #000; }
          #siteheader .topRow-8 #dropnavMenu ul a:hover {
            color: #767676;
            text-decoration: none; }

/******************
MAIN CONTENT
******************/
#mainColumn {
  margin: 0 auto;
  padding: 1.5em 2.5% 0 2.5%;
  width: auto; }
  #mainColumn .previewItem {
    width: 100%;
    display: block;
    float: left;
    position: relative;
    margin: 0;
    padding: 30px;
    -webkit-box-sizing: border-box;
    vertical-align: baseline; }
  #mainColumn .first {
    padding-top: 0px; }
  #mainColumn .previewItem span {
    vertical-align: baseline;
    float: left;
    bottom: 0px;
    font-size: 1em; }
  #mainColumn .smallBorder {
    border-color: #8d8d8d;
    border-style: solid;
    border-width: 1px; }

/******************
ABOUT
******************/
#contactColumn {
  margin: 30px auto 0 auto;
  padding: 40px 0 0 2.5%;
  width: auto; }
  #contactColumn .contactItem {
    width: 95%;
    display: block;
    float: left;
    position: relative;
    margin: 0;
    padding: 0 2.5%;
    clear: left; }
    #contactColumn .contactItem p {
      margin: 0;
      padding: 0;
      line-height: 1.4em; }
    #contactColumn .contactItem span.blocky {
      display: block;
      margin: 15px 0 0 0; }
    #contactColumn .contactItem span.bold {
      font-weight: bold; }
  #contactColumn a {
    text-decoration: none;
    border-bottom: 1px dotted; }
  #contactColumn .primary {
    display: block;
    float: left; }
  #contactColumn .secondary {
    clear: left;
    width: 100%;
    float: left;
    margin: 15px 0 0 0;
    clear: left; }

/******************
FOOTER
******************/
footer {
  font-size: 1em;
  text-align: center;
  clear: both;
  padding: 30px 0 30px 0;
  color: #000; }
  footer a {
    font-weight: bold;
    text-decoration: none;
    padding: 15px 10px; }

/******************
******************

RESPONSIVE

******************
******************/
/******************
min-width 640px
******************/
@media screen and (min-width: 840px) {
  /**********************************
HEADER
***********************************/
  #siteheader {
    width: 100%;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto; }
    #siteheader .topRow-4 {
      position: relative;
      width: 33.33333333333333%;
      min-height: 1px;
      padding: 5px 15px 0 15px; }
    #siteheader .dropnav {
      display: none; }
    #siteheader .dropnavOpen {
      display: none; }
    #siteheader .dropnavClosed {
      display: none; }
    #siteheader .headerLogo {
      display: block;
      float: left;
      margin: 0 auto;
      position: absolute;
      top: 10px;
      left: 15px; }
      #siteheader .headerLogo #logo {
        box-sizing: border-box;
        margin: 0 auto; }
        #siteheader .headerLogo #logo a {
          margin: 0 auto;
          display: block; }
        #siteheader .headerLogo #logo h2 {
          font-size: 1.8em;
          line-height: .6em;
          padding: 19px 0 0 0;
          -webkit-margin-before: 0em;
          -webkit-margin-after: 0em;
          -webkit-margin-start: 0;
          -webkit-margin-end: 0;
          font-weight: bold; }
    #siteheader .topRow-8 {
      position: relative;
      min-height: 1px;
      float: left;
      padding: 0 15px;
      width: 66.66666666666666%; }
      #siteheader .topRow-8 #dropnavMenu {
        display: block;
        box-sizing: border-box;
        margin: 2em 0 0 0;
        /*li::after 
            {
            content: "";
            display:block;
            width: 100px;
            margin: .3em auto 0 auto;
            text-align: center;
            height:1px;
            background:#fff;
            border-bottom:2px solid #000;
            }
            */ }
        #siteheader .topRow-8 #dropnavMenu ul {
          display: block;
          float: right;
          margin: .3em 0 0 0;
          padding: 1em 0 0 0;
          text-align: center;
          list-style-type: none;
          color: #fff;
          -webkit-margin-before: 0;
          -webkit-padding-start: 0;
          -webkit-margin-after: 0; }
          #siteheader .topRow-8 #dropnavMenu ul li.mobile {
            padding: 0;
            width: 100%;
            display: block;
            font-size: 1.25em;
            font-weight: bold;
            margin: .5em auto 0 auto;
            color: #000;
            text-align: center;
            border: 0; }
        #siteheader .topRow-8 #dropnavMenu a {
          text-decoration: none;
          color: #000; }
          #siteheader .topRow-8 #dropnavMenu a:hover {
            color: #767676;
            text-decoration: none; }
  /******************
MAIN CONTENT
******************/
  #mainColumn {
    float: left;
    width: 96%;
    margin-left: 2%;
    padding: 0; }
    #mainColumn .previewItem {
      width: 33.333%;
      display: block;
      float: left;
      position: relative;
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
      border: 40px solid;
      border-color: transparent;
      vertical-align: baseline;
      text-align: center; }
    #mainColumn .previewItem span {
      font-size: .9em;
      float: left;
      bottom: 0px;
      width: 100%; }
  /******************
ABOUT
******************/
  #contactColumn {
    width: 96%;
    margin-left: 2%;
    padding: 0; }
    #contactColumn .contactItem {
      display: block;
      float: left;
      position: relative;
      margin: 0;
      padding: 0 2.5%;
      width: 45%;
      clear: none; }
    #contactColumn p {
      margin: 0;
      padding: 0;
      line-height: 1.4em; }
    #contactColumn span.blocky {
      display: block;
      margin: 15px 0 0 0; }
    #contactColumn span.noTop {
      display: block;
      margin-top: 0; }
    #contactColumn span.bold {
      font-weight: bold; }
    #contactColumn a {
      text-decoration: none;
      border-bottom: 1px dotted; } }

/******************
FOOTER
******************/
/******************
min-width 920px
******************/
@media screen and (min-width: 920px) {
  /**********************************
GENERAL
***********************************/
  /**********************************
HEADER
***********************************/
  /**********************************
NAVIGATION
***********************************/
  /******************
MAIN CONTENT
******************/
  #mainColumn {
    /*
    :nth-child(4n) {
      clear: left;
    }
*/ }
    #mainColumn .previewItem {
      width: 25%;
      display: block; }
    #mainColumn .previewItem span {
      font-size: .9em;
      float: left;
      bottom: 0px;
      width: 100%; }
  /******************
CONTACT
******************/
  /******************
FOOTER
******************/ }

/* sourceMappingURL=app.css.map */

/*# sourceMappingURL=app.css.map */
