
/**********************************
HEADER
***********************************/

#siteheader 
{
  width: 100%;
  background-color: #000; //header 787878
  margin-right: auto;
  margin-left: auto;
  //transition: color .2s,background-color .2s;
} // end #siteheader 

#top-bar
{
position: fixed;
z-index: 999;
width: 100%;
background-color: #000; //header 787878
box-sizing: border-box;
top: 0px;
  
  .container 
  {
  margin-right: auto;
  margin-left: auto;
  max-width:940px;
  box-sizing: border-box;
  width:100%;

    .row
    {
    width: 100%;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
  
        .logo-top
        {
            width: 50%;
            display: block;
            float:left;
            position:relative;
            box-sizing: border-box;
            //margin-left: 1.5em;
            padding: 15px 0 15px 25px;

            
            //display: block;

          a
          {
              display: block;
          } // end a

          img.h2Logo 
          {
            width: 130px;
          } // end .h2Logo


        } // end .logo-top
      
      
        .navMenu 
        {
        width: 50%;
        display: block;
        float:left;
        position:relative;
        box-sizing: border-box;
        //margin-right: 1.5em;
        padding: 12px 25px 0 0;
        text-align:right;
        //margin: 0 auto;
        
          span.top-info
          {
            position: relative;
            display:block;
    
            a 
            {
              text-decoration: none;
              //border-bottom: 1px dotted #fff;
              border-bottom: none;
              color: #fff;
              font-size: 18px;

              img.info-icon
              {
              width: 40px;
              height: 40px;
                              
                &:hover 
                {
                transform:rotate(30deg);
                } // end &:hover

                &:active
                {
                transform:rotate(30deg);
                } // end active

              } // end img

              img.eye-icon
              {
              width: 40px;
              height: 40px;
              
                
                &:hover 
                {
                transform:rotate(-30deg);
                } // end &:hover

                &:active
                {
                transform:rotate(-30deg);
                } // end active


              } // end img.eye-icon

            } //end a

          } // end span.top-info

        } //end .dropnavMenu 

    }  // end .row

  } // end .container 

} // end #top-bar

/******************
******************

RESPONSIVE

******************
******************/

/******************
min-width 840px
******************/
@media screen and (min-width: 840px) 
{
#siteheader 
{

  //transition: color .2s,background-color .2s;
} // end #siteheader 

#top-bar
{

  
  .container 
  {


    .row
    {

  
        .logo-top
        {
            width: 50%;
            display: block;
            float:left;
            position:relative;
            box-sizing: border-box;
            //margin-left: 1.5em;
            padding: 15px 0 15px 25px;

            //display: block;

          a
          {
              display: block;
          } // end a

          img.h2Logo 
          {
            width: 130px;
          } // end .h2Logo


        } // end .logo-top
      
      
        .navMenu 
        {
        width: 50%;
        display: block;
        float:left;
        position:relative;
        box-sizing: border-box;
        //margin-right: 1.5em;
        padding: 12px 60px 0 0;
        text-align:right;
        //margin: 0 auto;
        
          span.top-info
          {
            position: relative;
            display:block;
    
            a 
            {
              text-decoration: none;
              //border-bottom: 1px dotted #fff;
              border-bottom: none;
              color: #fff;
              font-size: 18px;

              img.info-icon
              {
              width: 40px;
              height: 40px;
              } // end img
                
              &:hover 
              {
                color: #fff;
                text-decoration: none;
                //border-bottom: 2px solid #fff;
              } // end &:hover

            } //end a

          } // end span.top-info

        } //end .dropnavMenu 

    }  // end .row

  } // end .container 

} // end #top-bar

  
}