/**********************************
GENERAL
***********************************/
//NeutraText
@font-face 
{
  font-family: 'NeutraText';
  src: url("/shared/NeutraText-DemiItalic.woff") format("woff2"), url("/shared/NeutraText-DemiItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face 
{
  font-family: 'NeutraText';
  src: url("/shared/NeutraText-Book.woff") format("woff2"), url("/shared/NeutraText-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: 'NeutraText';
  src: url("/shared/NeutraText-Demi.woff") format("woff2"), url("/shared/NeutraText-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

//nimbus sans
@font-face
{
  font-family:"nimbus-sans";
  font-weight: 400;
  font-style: normal;
}

@font-face
{
  font-family:"nimbus-sans";
  font-weight: 700;
  font-style: normal;
}

//source sans pro
@font-face
{
  font-family:"source-sans-pro";
  font-weight: 400;
  font-style: normal;
}

@font-face
{
  font-family:"source-sans-pro";
  font-weight: 700;
  font-style: normal;
}

//typekit FOUT styles

.wf-loading .mobile, .wf-loading .contactItem, .wf-loading .workItems 
{

visibility: hidden;

}

.wf-active .mobile, .wf-active .contactItem, .wf-active .workItems, 
.wf-inactive .mobile, .wf-inactive .contactItem, .wf-inactive .workItems 
{

visibility: visible;

}

body 
{
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1em;
  background-color: #fff;
  color: #000;
}

#wrapper 
{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

* 
{
  //box-sizing: border-box;
}

img 
{
  max-width: 100%;
}

a 
{
  text-decoration: none;
  color: #000;
  cursor: pointer;
  &:link, &:visited 
  {
    color: #000;
  }
  &:hover 
  {
    color: #000;
  }
  &:active 
  {
    color: #000;
  }
}

.back-button 
{
  text-align: left;
  font-size: 12px;
  padding: 0px 0px 0px 0px;
}

/**********************************
MIX-INs
***********************************/

@mixin text-decoration-style($value)
{
  @include prefixer(text-decoration-style, $value, moz webkit);
}

// @mixin columns: 

/**********************************
ANIMATIONS
***********************************/

@-webkit-keyframes {
  from {
    background-position:0
  }
  to {
    background-position:100%
  }
}

@-moz-keyframes play-fw {
  from {
    background-position:0
  }
  to {
    background-position:100%
  }
}

@-ms-keyframes play-fw {
  from {
    background-position:0
  }
  to {
    background-position:100%
  }
}

@-o-keyframes play-fw {
  from {
    background-position:0
  }
  to {
    background-position:100%
  }
}

@keyframes play-fw {
  from {
    background-position:0
  }
  to {
    background-position:100%
  }
}

@-webkit-keyframes play-bw {
  from {
    background-position:100%
  }
  to {
    background-position:0
  }

}
@-moz-keyframes play-bw {
  from {
    background-position:100%
  }
  to {
    background-position:0
  }
}

@-ms-keyframes play-bw {
  from {
    background-position:100%
  }
  to {
    background-position:0
  }
}

@-o-keyframes play-bw {
  from {
    background-position:100%
  }
  to {
    background-position:0
  }
}

@keyframes play-bw {
  from {
    background-position:100%
  }
  to {
    background-position:0
  }
}
/**********************************
HEADER
***********************************/

#siteheader 
{
  width: 100%;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
  //transition: color .2s,background-color .2s;
} // end #siteheader 

#top-bar
{
position: fixed;
z-index: 999;
width: 100%;
background-color: #fff;
box-sizing: border-box;
top: 0px;
  
  .container 
  {
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

    .row
    {
    box-sizing: border-box;
    margin-right:0;
    margin-left:0;
  
      .topRow-4 
      {
      position: relative;
      min-height: 1px;
      padding: 5px 15px 0 15px;
      

        .dropnav   
        { 
        position: absolute;
        top: 10px;
        left: 15px;
        float:left;
        width: 24px;
        height: 24px;
        padding: 10px;
        cursor: pointer;

          .dropnavIcon 
          {
            display: inline;
            width: 24px;
            height: 24px;
            position: absolute;
            text-align: center;
            background-size: auto 100%;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-image: url(/images/burger_blk.png);
          } // end .dropnavIcon
        } // end .dropnav

        .dropnavOpen
        { 
        @extend .dropnav;
          .dropnavIcon 
          {
            @extend .dropnavIcon;
            -webkit-animation:play-fw .25s steps(7) forwards;
            -moz-animation:play-fw .25s steps(7) forwards;
            -ms-animation:play-fw .25s steps(7) forwards;
            -o-animation:play-fw .25s steps(7) forwards;
            animation:play-fw .25s steps(7) forwards;
          } // end .dropnavIcon
        } // end .dropnavOpen

        .dropnavClosed 
        {
        @extend .dropnav;

          .dropnavIcon 
          {
          @extend .dropnavIcon;
            -webkit-animation:play-bw .25s steps(7) forwards;
            -moz-animation:play-bw .25s steps(7) forwards;
            -ms-animation:play-bw .25s steps(7) forwards;
            -o-animation:play-bw .25s steps(7) forwards;
            animation:play-bw .25s steps(7) forwards;
          } // end .dropnavIcon
        } // end .dropnavClosed


        .headerLogo 
        {
          display:block;
          margin: 0 auto;
          display:table;

          #logo 
          {
            box-sizing: border-box;
            margin: 0 auto;
            width: 130px; 
            height: 32px;
            
            //display: block;

            a
            {
              margin: 0 auto;
              display: block;
            } // end a

            .h2Logo 
            {
              padding: 15px 0 10px 0;
            } // end .h2Logo
            
            h2 
            {       
              font-size: 1.8em;
              line-height: .6em;
              padding: 19px 0 0 0;
              -webkit-margin-before:0em;
              -webkit-margin-after:0em;
              -webkit-margin-start: 0;
              -webkit-margin-end: 0;
              font-weight: 700;
            } // end h2

          } // end #logo

        } // end .headerLogo
        
        .menu1-1 
        {
          display:none;
          padding: 30px 0 0 30px;
          float:left;
        } // end .menu1-1

         .menu1-2 
        {
          display:none;
          padding: 30px 0 0 60px;
          float:left;
        } // end .menu1-1
      } //end .topRow-4
      
      .topRow-8
      {
      position:relative;
      min-height: 1px;
      padding: 0 15px;

        #dropnavMenu 
        {
        display:none;
        box-sizing: border-box;
        //margin: 0 auto;
        margin: 10px auto 0 auto;
         //z-index:1;

          ul 
          {
            display: block;
            width:100%;
            //overflow: hidden;
            padding: .25em 0 1em 0;
            text-align: center;
            position:relative;
            list-style-type: none;
            color: #fff;
            -webkit-margin-before: 0;
            -webkit-padding-start: 0;
            -webkit-margin-after: 0;

            li.mobile
            {
              padding: 0;
              width: 100%;
              display: block;
              font-size: 1.2em;
              font-weight: 400;
              margin: .7em auto 0 auto;
              color: #000;
              text-align: center;
              //transition: all .3s ease-in-out;
              border:0;
              &:hover 
              {
              } // end &:hover
            } // end li.mobile

            li::after 
            {
            content: "";
            display:block;
            width: 100px;
            margin: .5em auto 0 auto;
            text-align: center;
            height:1px;
            background:#fff;
            border-bottom: 1px solid #676767;
            } // end li::after

            a 
            {
            text-decoration: none;
            color: #000;
              
              &:hover 
              {
              color: #767676;
              text-decoration: none;
              } // end &:hover

            } //end a

          } //end ul

        } //end #dropnavMenu 

      } //end .topRow-8

    }  // end .row

  } // end .container 

} // end #top-bar

/******************
HOMEPAGE PREVIEW CONTENT
******************/

#mainColumn 
{
  margin: 0 auto;
  padding: 5em 2.5% 0 2.5%;
  width: auto;

  .container
  { 
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

    .previewItem 
    {
    width: 100%;
    display: block;
    float:left;
    position:relative;
    margin: 0;
    padding: 3em;
    -webkit-box-sizing: border-box;
    vertical-align: baseline;

      span 
      {
      vertical-align: baseline;
      float: left;
      bottom: 0px;
      font-size: 1em;
      }
    } // end .previewItem

    #pre_sml
    {
    padding: 3em .5em 3em .5em;
    } // end #inter_pre

    .first 
    {
    padding-top: 4em;
    } // end .first
    
  .smallBorder 
    {
    border-color: #8d8d8d;
    border-style: solid;
    border-width: 1px;
    } // end .smallborder

  } // end .container

} // end #mainColumn 

/******************
WORK PAGES
******************/

#workPages
{
  margin: 0 auto;
  padding: 5em 2.5% 0 2.5%;
  width: auto;

  .container 
  {
  margin: 0 auto;
  box-sizing: border-box;

    .workItems 
    {
      margin: 0 auto;
      width: 100%;
      box-sizing: border-box;
      padding: 0 5%;

      span 
      {
      font-size: 1.1em;
      line-height: 1.25em;
      text-align: center;
      margin: 0 auto;
      //width: 100%;
      padding: 1.5em 2.5% 0 2.5%;
      display:table;
      box-sizing: border-box;
      } // end span
      
      .workImage 
      {

      margin: 0 auto;
      padding: 2em;

        img 
        {
        width:100%;
        //padding: 2em;

        } // end .img

      } // end .workImage

      .touchscreen 
      {
      //width: 50% !important;
      //padding: 2em;

      } //end .touchscreen
      
      .inter 
      {
      padding: 2em 0 2em 0;

      } //end .inter

      #horiz 
      {
      padding: 2em 2em 2em 2em;

      } //end #horiz
      
      .search 
      {
      //padding: 2em 10em 2em 10em;
    
      } //end .search

      .bannerAds 
      {
      padding: 2em 0;

      } //end .search

      .posters 
      {
      padding: 2em 0;
      } // end .posters

      .marks 
      {
      padding: 2em 1em;

      } // end .marks

      .markstwo 
      {
      padding: 2em 2em;

      } // end .markstwo

    }// end .workItems
  
  } // end .container

} // end #workpages

/******************
ABOUT
******************/

#contactColumn 
{
    margin: 30px auto 0 auto;
    padding: 6em 2.5% 0 2.5%;
    width: auto;

  .contactItem 
  {
    width: 95%;
    display: block;
    float:left;
    position:relative;
    margin: 0;
    padding: 0 2.5%;
    clear:left;
    font-size: 1.1em;

    p 
    {
      margin: 0;
      padding:0;
      line-height: 1.4em;
    } // end p

    span.blocky 
    {
      display: block;
      margin: 15px 0 0 0;
    } // end span.blocky 

    span.bold 
    {
    font-weight: 700;
    } // end span.bold
  }

  a 
  {
    text-decoration: none;
    border-bottom: 1px dotted;
  } // end a

  .primary 
  {
  display: block;
  float: left;
  } // end .primary

  .secondary 
  {
  clear: left;
  width: 100%;
  float: left;
  margin: 15px 0 0 0;
  clear:left;
  } // end .secondary
} // end #contactColumn 


/******************
FOOTER
******************/

footer 
{
  font-size: 1em;
  text-align: center;
  clear: both;
  padding: 30px 0 30px 0;
  color: #000;
  a 
  {
    font-weight: 700;
    text-decoration: none;
    padding: 15px 10px;
  }

  .footerContainer
  {
  padding: 0 0 2.5em 0;
    
    .footerBtn 
    {
      
      a 
      {
      cursor: pointer;
      padding: 0 .5em 0 .5em;
      } // end a

      img 
      {
        display: inline;
        
      } //end img

    } // end .footerBtn

  } // end .footerContainer

} //end footer

//end of first main styles

/******************
******************

RESPONSIVE

******************
******************/

/******************
min-width 840px
******************/
@media screen and (min-width: 840px) 
{

/**********************************
HEADER
***********************************/

  #siteheader 
  {
  width: 100%;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
  } // end #siteheader 
  
  #top-bar 
  {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    top: 0px;
    height: 65px !important;
  
    .container 
    {
    margin: 0 auto;
    box-sizing: border-box;
    max-width:940px;
    
      .row
      {
      box-sizing: border-box;
      margin-right:0;
      margin-left:0;
      padding-top: 6px !important;

        .topRow-4 
        {
        position: relative;
        height: 80px;
        float:left;
        padding: 0 15px;
        width: 33.33333333333333%;
        display:block;
        box-sizing: border-box;

          .dropnav
          {
          display: none;
          } // end .dropnav

          .dropnavOpen  
          {
          display: none;
          } // end .dropnavOpen

          .dropnavClosed 
          {
          display: none;
          } // end .dropnavClosed
          
          .headerLogo 
          {
          display:block;
          float:left;
          margin: 0 auto;
          position:absolute;
          top: 14px;
          left: 23px;

            #logo 
            {
              box-sizing: border-box;
              margin: 0 auto;
              //display: block;

              a
              {
                margin: 0 auto;
                display: block;
              } // end a

              .h2Logo 
              {
                padding: 8px 0 0 0;
              } // end .h2Logo

              
              h2 
              {       
                font-size: 1.8em;
                line-height: .6em;
                padding: 19px 0 0 0;
                -webkit-margin-before:0em;
                -webkit-margin-after:0em;
                -webkit-margin-start: 0;
                -webkit-margin-end: 0;
                font-weight: 700;
              } //end h2

            } //end #logo

          } //end .headerLogo

        } //end .topRow-4
    
        .topRow-8
        {
        position:relative;
        height:80px;
        float:left;
        padding: 0 15px;
        width: 66.66666666666666%;
        box-sizing: border-box;
      
          #dropnavMenu 
          {
          display:block !important;
          box-sizing: border-box;
          //margin: 0 auto;
          margin: .9em 0 0 0;
          float: right;
        
            ul 
            {
                display:block;
                margin: 0;
                //overflow: hidden;
                padding: 1em 0 0 0;
                text-align: center;
                list-style-type: none;
                color: #fff;
                -webkit-margin-before: 0;
                -webkit-padding-start: 0;
                -webkit-margin-after: 0;
                float:right;

              li.mobile
              {
                  //padding: 0;
                  //width: 100%;
                  display: inline;
                  font-size: 1.3em;
                  font-weight: 400;
                  padding: 0 1.5em 0 0;
                  color: #000;
                  //text-align: center;
                  //transition: all .3s ease-in-out;
                  border:0;
                &:hover 
                {
                }
              } // end li.mobile

              li::after 
              {
              display:none;
              }
            } // end ul

            a 
            {
                display:inline;
                text-decoration: none;
                color: #000;
                  
              &:hover 
              {
                  color: #767676;
                  text-decoration: none;
              }
            }  
          } // end #dropnavMenu 

        } // end .topRow-8

        } // end .row

    } // end .container

    .container::before
    {
    display: table;
    content: " ";
    } // end .container::before

    .container::after
    {
    clear: both;
    } // end .container::after

  } // end #top-bar


/******************
HOMEPAGE PREVIEW CONTENT
******************/

#mainColumn 
  {
    float: left;
    width: 96%;
    margin-left: 2%;
    padding: 6em 0 0 0;
    
    .container
    {
    box-sizing: border-box;
    max-width:940px;

      .previewItem 
      {
        width: 33.333333%;
        display: block;
        float:left;
        position:relative;
        margin: 0;
        padding: 2em;
        box-sizing: border-box;
        vertical-align: baseline;
        text-align: center;
   
        span 
        {
          font-size: .9em;
          float: left;
          bottom: 0px;
          width:100%;
        }//end span 

      } //end .previewItem

      #pre_sml
      {
      padding: 2em;
      } // end #inter_pre

    } //end .container

  } // end #mainColumn

/******************
WORK PAGES
******************/

#workPages
{
  margin: 0 auto;
  padding: 5em 2.5% 0 2.5%;
  width: auto;

  .container 
  {
  margin: 0 auto;
  box-sizing: border-box;
  max-width:940px;
  width:100%;

    .workItems 
    {
      margin: 0 auto;
      display: block;
      box-sizing: border-box;
      padding: 0;

      span 
      {
      font-size: 1.1em;
      margin: 0 auto;
      //width: 100%;
      padding: 1.5em 2.5% 0 2.5%;
      display:table;
      box-sizing: border-box;
      } // end span
      
      .workImage 
      {
      width: 100%;
      float:left;
      margin: 0 auto;
      box-sizing: border-box;

        img 
        {
        width:100%;
        //padding: 2em;

        } // end img

      } // end .workImage

      .inter 
      {
      padding: 2em 6em 2em 6em;

      } //end .inter

      #horiz 
      {
      padding: 2em 10em 2em 10em;

      } //end #horiz

      .touchscreen 
      {
      width: 50% !important;
      padding: 2em;

      } //end .touchscreen

      .search 
      {
      padding: 2em 10em 2em 10em;
    
      } //end .search

      .bannerAds 
      {
      padding: 2em 6em 2em 6em;

      } //end .search

      .posters 
      {

      padding: 2em 4em;
      } // end .posters

      .marks 
      {

      padding: 2em 8em;
      margin: 0 auto;
      } // end .marks

      .markstwo 
      {

      padding: 2em 9em 2em 9em;
      margin: 0 auto;
      } // end .markstwo

    }// end .workItems
  
  } // end .container

} // end #workpages

/******************
ABOUT
******************/

#contactColumn 
  {
    margin: 0 auto;
    box-sizing: border-box;
    max-width:940px;
    padding: 6em 0 0 0;

    .contactItem 
    {
      display: block;
      float:left;
      position:relative;
      margin: 0;
      padding: 0 2.5%;
      width:44%;
      clear:none;
    } // end .contactItem 

    p 
    {
      margin: 0;
      padding:0;
      line-height: 1.4em;
    } // end p

    span.blocky 
    {
      display: block;
      margin: 15px 0 0 0;
    } // end span.blocky

     span.noTop 
    {
      display: block;
      margin-top: 0;
    } // end span.noTop

    span.bold 
    {
      font-weight: 700;
    } // end span.bold

    a 
    {
      text-decoration: none;
      border-bottom: 1px dotted;
    } // end a

    .primary 
    {
      padding: 0 3%;

    } // end .primary

    .secondary 
    {
    } // end .secondary

  } //end #contactColumn 

} // end @media screen and (min-width: 840px) 

  


/******************
FOOTER
******************/

/******************
min-width 920px
******************/
/*
@media screen and (min-width: 920px) 
{ }
  
/**********************************
GENERAL
***********************************/

/**********************************
HEADER
***********************************/

/**********************************
NAVIGATION
***********************************/

/******************
MAIN CONTENT
******************/

/******************
CONTACT
******************/

/******************
FOOTER
******************/
