/**********************************
GENERAL
***********************************/
@font-face {
  font-family: 'NeutraText';
  src: url("/shared/NeutraText-DemiItalic.woff") format("woff2"), url("/shared/NeutraText-DemiItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family: 'NeutraText';
  src: url("/shared/NeutraText-Book.woff") format("woff2"), url("/shared/NeutraText-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NeutraText';
  src: url("/shared/NeutraText-Demi.woff") format("woff2"), url("/shared/NeutraText-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}


body {
  font-family: NeutraText;
  font-style: normal;
  font-size: 1em;
  background-color: #ffffff;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: underline;
  color: #000000;
  &:link, &:visited {
    color: #000000;
  }
  &:hover {
    color: #666666;
  }
  &:active {
    color: #000000;
  }
}

.bold {
  font-weight: bold;
}

.blocky {
  display: block;
  margin: 15px 0 0 0;
}

.smallBorder {
  border-color: #8d8d8d;
  border-style: solid;
  border-width: 1px;
}

.categories, .content-proofs {
  padding: 0px 0px 0px 0px;
}

.back-button {
  text-align: left;
  font-size: 12px;
  padding: 0px 0px 0px 0px;
}

/**********************************
HEADER
***********************************/

header {
  float: left;
  margin: 0 0 20px 0;
  padding: 30px 0 0 0;
  width: 100%;
}

.title {
  text-align: center;
  margin: 0;
  font-size: 2em;
  font-family: 'NeutraText', sans-serif;
  font-style: normal;
  h1 {
    font-weight: bold;
    font-style: italic;
    font-size: .7em;
    margin: 0 0 0 0;
  }
  span {
    &.logo {
      display: block;
    }
    &.text-logo {
      display: none;
    }
    &.tag {
      display: block;
      font-size: .6em;
      margin: 15px 0 0 0;
      padding: 0 0 0 0;
    }
    &.logo img {
      width: 120px;
      text-align: center;
      font-family: NeutraText;
      font-weight: bold;
      font-style: italic;
    }
  }
}

/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 0px 0 20px;
  ul {
    list-style: none;
    margin: 0 0;
    padding: 0;
    font-size: 1em;
  }
  li {
    display: inline-block;
  }
  a {
    padding: 15px 10px;
    text-decoration: none;
    &:link, &:visited {
      color: #000000;
    }
    &:hover {
      color: #666666;
    }
    &:active {
      color: #000000;
    }
    &.active {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

/******************
GALLERIES
******************/

ul.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    float: left;
    width: 45%;
    margin: 2.5%;
    color: black;
    a p {
      margin: 0;
      padding: 5%;
      font-size: 0.9em;
    }
  }
}

/******************
CONTENT WORK
******************/

.content-work {
  clear: left;
  text-align: center;
  margin: 0 5% 0 5%;
}

/******************
CONTACT
******************/

ul.contact {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.5;
  li {
    &.primary {
      display: block;
      width: 100%;
      float: left;
      margin-left: 5%;
      margin-right: 5%;
    }
    &.secondary {
      clear: left;
      display: block;
      width: 100%;
      float: left;
      margin: 15px 0 0 5%;
    }
  }
}

/******************
FOOTER
******************/

footer {
  font-size: 1em;
  text-align: center;
  clear: both;
  padding: 30px 0 30px 0;
  color: #000;
  a {
    font-weight: bold;
    text-decoration: none;
    padding: 15px 10px;
  }
}

/******************
******************

RESPONSIVE

******************
******************/
/******************
min-width 480
******************/
@media screen and (min-width: 480px) {
  .title {
    h1 {
      font-weight: bold;
      font-style: italic;
      display: inline-block;
    }
    span {
      display: block;
      margin: 15px 0 0 0;
      padding: 0 0 0 0px;
    }
  }
  ul {
    &.contact {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        &.primary {
          display: block;
          width: 50%;
          float: left;
          margin-left: 2.5%;
          margin-right: 0;
        }
        &.secondary {
          clear: none;
          display: block;
          width: 40%;
          float: right;
          margin-top: 0%;
        }
      }
    }
    &.gallery li {
      width: 28.3333%;
      margin: 2.5%;
      color: black;
      text-align: center;
    }
  }
  .content-work {
    clear: left;
    margin: 0 5% 0 5%;
  }
}

/*

  #gallery li:nth-child(4n) {
    clear: left;
  }
*/
/******************
min-width 880
******************/
@media screen and (min-width: 880px) {
  header {
    margin: 0 0 0 0;
    padding: 40px 0 20px 0;
  }
  nav {
    background: none;
    float: left;
    margin: 0 0 0 5%;
    text-align: left;
  }
  #wrapper {
    clear: left;
    max-width: none;
    float: left;
    margin: 0 0 0 5%;
    text-align: left;
    padding: 10px 0;
    display: block;
  }
  .contact {
    font-size: 1.1em;
    line-height: 1.6em;
  }
  .title {
    float: left;
    margin-left: 5%;
    text-align: left;
    padding: 0 0 0 10px;
    font-style: normal;
    h1 {
      font-weight: bold;
      font-style: italic;
      font-size: 1.8em;
      margin: 0 0 0 0;
    }
    span {
      &.text-logo {
        display: block;
        float: left;
      }
      &.logo {
        display: block;
        position: absolute;
        top: 35px;
        right: 5%;
      }
      &.tag {
        display: block;
        clear: both;
        padding: 15px 0 0 0;
      }
    }
  }
  ul {
    &.gallery li {
      width: 20%;
      &.first {
        clear: left;
      }
    }
    &.contact li {
      &.primary {
        margin-top: 10px;
        margin-left: 10px;
      }
      &.secondary {
        margin-top: 10px;
      }
    }
  }
  .content-work {
    clear: left;
    text-align: left;
    margin: 0 0 0 7%;
    padding: 15px 0 0 0;
    font-size: 1.1em;
  }
  footer {
    font-size: 1em;
    text-align: left;
    clear: both;
    float: left;
    margin: 0 0 0 5%;
    padding: 30px 0 30px 0;
    color: #000;
    a {
      margin-left: 10px;
    }
  }
}

/*# sourceMappingURL=app.css.map */

/*# sourceMappingURL=app.css.map */